<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.tokyotreat.Utils.CustomeListener" />
		<listener class-name="com.tokyotreat.Utils.TransformerRetryLogic"></listener>
		<listener class-name="com.tokyotreat.Reports.ExtentReportsList"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.tokyotreat.test.HomePageTest" />
			<class name="com.tokyotreat.test.CheckoutPageTest" />
			<class name="com.tokyotreat.test.SubscribePageTest" />

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->